<div class="chat-header">
</div>

<div class="messages">
</div>

<div class="form">
<div class="form-input">
    <input class="form-message" placeholder= "type a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>