<div class="side-bar-header">
<div class="header-name">
    <%=link_to current_user.name,edit_user_path(current_user)%>
  </div>
  <div class="create-room">
    
  </div>
</div>

<div class="groups">
<div class="group">
    <div class="group-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="group">
    <div class="group-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>