<div class='wrapper'>
  <div class='side'>
    <%= render "messages/side" %>
  </div>

  <div class="main">
    <div class="main_space">
    <div class="group_gif">
      グループを選択するとパスワードを表示、追加する事ができます。<br>『グループを作成する』で新しいグープを作成できます。<br>
        <img src="https://i.gyazo.com/0b96ac883323d8bec245867f3d6ffe1a.gif" alt="Image from Gyazo" width="600"/></a>
      </div>
    </div>
  </div>
</div>