.wrapper {
  display: flex;
}
.side {
  border: 1px solid deepskyblue;
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background:linear-gradient(180deg,white,#ffffcc);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}

.create-group {
  font-size: 10px;
}

.create-group a {
  border: 1px solid deepskyblue;
  padding: 20px;
  color: deepskyblue;
  text-decoration: none;
}
.groups {
  background:linear-gradient(180deg,#ffffcc,#ffff00);
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.group {
  padding: 20px 0 40px;
}

.group-name a {
  text-decoration: none;
  color:#000000;
  font-size: 25px;
}

.main {
  background-color: #ffffff;
  width: calc(100% - 300px);
}
.chat-header {
  height: 100px;
  padding: 0 40px;
  background:linear-gradient(180deg,white,#ffffcc);
  display: flex;
  justify-content: space-between;
}
.chat-name{
  margin-top: 36px;
  font-size: 30px;
}

.chat-end{
  margin-top: 36px;
}

.messages {
  background:linear-gradient(180deg,#ffffcc,#ffff22);
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  display:flex;
  justify-content: space-between;
}

.message-content{
color: #000000;
white-space: pre-wrap;
}

.form {
  background:linear-gradient(180deg,#ffff22,#ffff00);
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

